<%= form_for(@request_for_comment) do |f| %>
  <% if @request_for_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request_for_comment.errors.count, "error") %> prohibited this request_for_comment from being saved:</h2>

      <ul>
      <% @request_for_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :exercise_id %><br>
    <%= f.number_field :exercise_id %>
  </div>
  <div class="field">
    <%= f.label :file_id %><br>
    <%= f.number_field :file_id %>
  </div>
  <div class="field">
    <%= f.label :user_type %><br>
    <%= f.text_field :user_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
