<div class="list-group">
  <h4 class="list-group-item-heading"><%= Exercise.find(@request_for_comment.exercise_id) %></h4>
  <p class="list-group-item-text">
      <%

           user = @request_for_comment.user
           submission_id =  self.class.connection.execute("select id from submissions
           where exercise_id =
           #{@request_for_comment.exercise_id} AND
           user_id =  #{@request_for_comment.user_id} AND
           #{@request_for_comment.user_id} > created_at
           order by created_at desc
           limit 1").first['id'].to_i
           submission = Submission.find(submission_id)

      %>
    <%= user %> | <%= @request_for_comment.requested_at %>
  </p>
</div>

<!--
do not put a carriage return in the line below. it will be present in the presentation of the source code, otherwise.
-->
<div id='commentitor' class='editor' data-read-only='true' data-file-id='<%=@request_for_comment.file_id%>'><%= CodeOcean::File.find(@request_for_comment.file_id).content %>
</div>

<script type="text/javascript">
  //(function() {
    var commentitor = $('#commentitor');
    var userid = commentitor.data('user-id');
    var fileid = commentitor.data('file-id');

    var inputHtml = ''
    //inputHtml += '<form class="form">'
    //inputHtml +=   '<div class="form-group">'
    //inputHtml +=    '<p style="display:inline-block"><%= t("exercises.implement.comment.line") %></p>'
    //inputHtml +=    '<input type="number" class="form-control" id="lineInput" placeholder="1" required>'
    //inputHtml +=  '</div>'
    inputHtml +=  '<div class="input-group">'
    //inputHtml +=    '<p style="display:inline-block"><%= t("exercises.implement.comment.a_comment") %></p>'
    inputHtml +=    '<input type="text" class="form-control" id="commentInput" placeholder="I\'d suggest a variable here" required>'
    inputHtml +=    '<span class="input-group-btn"><button id="submitComment" class="btn btn-default"><%= t("exercises.implement.comment.addComment") %>!</button></span>'
    inputHtml +=  '</div>'
    //inputHtml +='</form>'


    commentitor = ace.edit(commentitor[0]);
    commentitor.setReadOnly(true);

    setAnnotations();

    function setAnnotations() {
      var session = commentitor.getSession()

      var jqrequest = $.ajax({
          dataType: 'json',
          method: 'GET',
          url: '/comments',
          data: {
            file_id: fileid
          }
      });

      jqrequest.done(function(response){
        //data-container=".ui-front" on gutter cell
        $.each(response, function(index, comment) {
          comment.className = "code-ocean_comment"
          comment.text = comment.username + ": " + comment.text
        })

        commentitor.getSession().setAnnotations(response)

        //$('.ace_gutter-layer').data('container', '.ui-front')
        $('.ace_gutter-cell').popover({
          title: 'Add a comment',
          html: true,
          content: inputHtml,
          position: 'right',
          trigger: 'focus click'
        }).on('shown.bs.popover', function() {
          $('#commentInput').focus()
          $('#submitComment').click(addComment);
          console.log($(this).text())
          $('#commentInput').data('line', $(this).text())
        })
      })
    }

    function addComment() {
      var commentInput = $('#commentInput');
      var comment = commentInput.val()
      var line = $('#commentInput').data('line')

      if (line == '' || comment == '') {
        return
      } else {
        line = parseInt(line) - 1
      }

      $.ajax({
        data: {
          comment: {
            user_id: userid,
            file_id: fileid,
            row: line,
            column: 0,
            text: comment
          }
        },
        dataType: 'json',
        method: 'POST',
        url:  "/comments"
      }).done(setAnnotations)

      $('.ace_gutter-cell').popover('hide')
    }
  //})()
</script>
<style>
  #commentitor, .ace_gutter, .ace_gutter-layer { overflow: visible }
  .popover { width: 400px; max-width: none; }
</style>